.block {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 3px;
}

.prompt {
  margin-left: 25px;
  display: inline-block;
}

.quantity {
  background-color: lightgrey;
  display: inline-block;
}
