body {
  /*background-color: darkblue;
  color: white;*/
  margin: 0;
  font-family: sans-serif;
}

main {
  margin: 0 7%;
  background-color: white;
  padding: 10px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

label {
  width: 100%;
  text-align: center;
  margin-left: 80px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
}

span {
  margin-left: 50px;
  text-align: center;
}

.block {
  height: 120px;
  width: 120px;
  display: inline-block;
  border: 2px solid lightgrey;
  margin: 4px;
  box-shadow: 3px 3px 2px #888888;
}

.blockIt {
  box-shadow: 8px 8px 4px #888888;

}

.prompt {
  margin-left: 25px;
  display: inline-block;
}

.quantity, .size, button {
  background-color: lightgrey;
  display: inline-block;
  margin: 15px 15px 15px 30px;
}

.quantity form {
  margin-left: 25px;
}

.quantity input {
  margin-left: 5px;
  width: 200px;
}

.quantity output {
  margin-left: 5px;
  font-weight: bold;
}

.size40 {
  height: 40px;
  width: 40px;
  border: 1px solid lightgrey;
  margin: 3px;
  box-shadow: 2px 2px 1px #888888;
}

.size80 {
  height: 80px;
  width: 80px;
  border: 2px solid lightgrey;
  margin: 4px;
  box-shadow: 3px 3px 2px #888888;
}

.size120 {
  height: 120px;
  width: 120px;
  border: 2px solid lightgrey;
  margin: 6px;
  box-shadow: 5px 5px 3px #888888;
}

.size160 {
  height: 160px;
  width: 160px;
  border: 3px solid lightgrey;
  margin: 8px;
  box-shadow: 6px 6px 3px #888888;
}

.size200 {
  height: 200px;
  width: 200px;
  border: 4px solid lightgrey;
  margin: 10px;
  box-shadow: 8px 8px 4px #888888;
}

.resultGood {
  font-family: 'Gloria Hallelujah', cursive;
  color: green;
  font-size: 2em;
}

.resultBad {
  font-family: 'Gloria Hallelujah', cursive;
  color: red;
  font-size: 1em;
}
